$logoBlue:#328ccb;
$logoGold: #e9ab40;
$logoBronze: #bc8e39;
$logoGradient: linear-gradient($logoGold,$logoBronze,$logoBlue);

    $primaryBlue: rgb(8, 73, 109);
    $liteBlue: #add8e6;
    $liteGold: #e9ab409f;