$breakpoint-tiny: 240px;
$breakpoint-xs: 400px;
$breakpoint-small: 600px;
$breakpoint-medium: 800px;
$breakpoint-default: 1024px;
$breakpoint-large: 1400px;
$breakpoint-wide: 1600px;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-display: 1200px;

// // STARTS AT 1200PX
// @media (min-width: $breakpoint-display) 
// {
//     div.services__panels {
//         flex-wrap: nowrap;
//     }
//     div.services__panels--panel {
//         --width: 25%;
//     }
// }

// // STARTS AT 1024PX
// @media (min-width: $breakpoint-laptop) {
    
//     //...

// }

// // BETWEEN 1024PX --> 1200PX
// @media (min-width: $breakpoint-display)
// {
//     .container {
//         max-width: 1024px;
//     }
//     div.services__panels--panel {
//         --width: 380px;
//     }
    
// }

// // ENDS AT 
// @media (max-width: $breakpoint-mobile) 
// {   

//     section {
//         padding: 60px 25px 0 25px;
//     }

//     // header {
//     //     background-position: 0 0;
//     //     background-size: contain;
//     // }

//     div.services__panels--panel {
//         --width: 100%;
//     }
// }

// section.ctrast {
//     padding-bottom: 60px;
// }