$off-white: #f7f5f2;

$grey-100: #f5f5f5;
$grey-200: #f6f6f6;
$grey-300: #f7f7f7;
$grey-400: #cacacb;
$grey-500: #c4c7c8;
$grey-600: #A6A6A6;
$grey-700: #bebebebe;
$grey-800: #7d7d7d;
$grey-900: #757575;


$mustard: #e4b028;
$bronze: #9E3500;
$lime: rgb(65, 161, 57);

$green: #29ab51;
$green-100: #a7ddb8;
$green-200: #39b75d;
$green-300: #29ab51;

$font-green: #248e4c;
$font-black: #17262b;
$font-grey: #9fa4a5;
$font-carbon: #686f71;