@font-face {
    font-family: CaviarDreams;
    src: url('./fonts/caviar_dreams/CaviarDreams.ttf');
}

@font-face {
    font-family: CaviarBold;
    src: url('./fonts/caviar_dreams/CaviarDreams_Bold.ttf');
}