
.greeting-container {
    margin: 0 auto;
    // max-width: 850px;
    display: flex;
    .desc {
        font-family: 'Ubuntu';
        letter-spacing: .035em;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.8;
        max-width: 800px;
    }
    .cta {
        font-family: 'Bevan';
        font-weight: 700;
        font-size: 20px;
        padding: 16px 20px;
        margin-top: 10px;
        width: max-content;
        display: inline-flex;
        border: 1px solid rgb(255, 211, 144);
        // background-color: rgba(0, 0, 0, 0.096);
        background-color:rgb(255, 187, 84);
        color: white;
        letter-spacing: .025em;
        backdrop-filter: blur(20px);
        border-radius: 8px;

        &:hover {
            background-color: white;
            color:rgb(255, 187, 84)
        }
    }
}

.title-card {
    // background: linear-gradient(180deg, transparent, aliceblue);
    border-radius: 20px 20px;
    box-shadow: 0px 0px 40px -8px rgba(77, 77, 77, 0.11);
    // border: 2px solid #ddd;
    border-right: none;
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
    margin-right: 80px;
    padding: 80px 60px 120px 60px;
    .title {
        font-size: 24px;
        font-family: 'Ubuntu';
        .greet {
            font-size: 32px;
            font-weight: 700;
            color: gray;
        }
        .name {
            // margin-top: 16px;
            line-height: 2.5;
            padding-left: 10px;
            font-size: 28px;
            font-style: oblique;
        }
    }
    &__image {
        display: inline-flex;
        background:linear-gradient(-140deg,transparent 60%,$faded-logoBlue);
        // box-shadow: inset 0px 0px 20px 8px rgba(85, 85, 85, 0.86),
        //             1px 1px 8px 1px #cccccc83,
        //             2px 4px 100px -10px rgba(0, 0, 0, 0.397); 
        border-radius: 50%;
        img {
            height: 400px;
            width: 400px;
            border-radius: inherit;
            // z-index: -1;
        }
    }
}